h1{
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}
h4{
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}

body{
    font-family: 'Playfair Display SC', serif;
}

button{
    margin: 20px
}
.form-group{
width: 60%;
margin: 0 auto;
}
.panel-heading{
    background-color: lightgray;
}
#headline {
    text-align: center;
}
#subhead {
    text-align: center;
}

.nav-item{
    font-family: 'Playfair Display SC', serif;
}

